body {
    height: 100vh;
    background-color: #edede9;
    padding: 1rem;
}

img {
    max-width: 50rem;
}


h1 {
    font-family: 'Comfortaa', cursive;
    margin-bottom: 1rem;
}

h4 {
    font-family: 'Comfortaa', cursive;
    margin: 0;
}


p {
    font-family: 'Nixie One', cursive;
    margin: 0;

}

a {
    text-decoration: inherit;

    color: inherit;
    font-family: 'Nixie One', cursive;

}

a:hover {
    text-decoration: underline;
}


.about-wrapper {
    max-width: 18rem;
}


.work-wrapper {
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    padding: 6rem;

}

@media screen and (max-width: 600px) {
    .main-wrapper {
        padding: 0.5rem;
    }
}


.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}


.qr-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


#qr {
    max-width: 15rem;
}



.plant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.plant-container img {
    padding: 1rem;
    max-width: 65%;
}


.yoga-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.yoga-container img {
    padding: 1rem;
    max-width: 40%;
}